.middle{
  height:500px;
  width:1000px;
  border:2px solid black;
}

.home-header{
  background-image: url('https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010_1280.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}